.home-page {
  text-align: center;
}

.home-intro-cadre{
  font-size: 12px;
  text-align: center;
  margin: 10px 5px 40px 5px;

}
.home-intro{
    margin: 0 120px;
}

.home-in-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "pic1 pic2 pic3"
  "pic4 pic5 pic6"
  ;
  /* place-items: stretch; */
  /* justify-content: center; */
  grid-gap: 0px 50px;
}

.home-intro-pic1{
  grid-area: pic1;
  margin-bottom: 50px;
}

.home-intro-pic2{
  grid-area: pic2;
}

.home-intro-pic3{
  grid-area: pic3;
}

.home-intro-pic4{
  grid-area: pic4;
}

.home-intro-pic5{
  grid-area: pic5;
}

.home-intro-pic6{
  grid-area: pic6;
}

.home-intro-btn{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "mentor mentee join"
  ;
  justify-content: center;
  grid-gap: 0px 50px;
}

.home-intro-mentor{
grid-area: mentor;
margin: 60px 0px 0px 0px;
padding: 10px;
border: 1px solid black;
}

.home-intro-mentee{
  grid-area: mentee;
  margin: 60px 0px 0px 0px;
  padding: 10px;
  border: 1px solid black;

}

.home-intro-join{
  grid-area: join;
  margin: 60px 0px 0px 0px;
  padding: 10px;
  border: 1px solid black;

}

.home-in-title{
  text-align: left;
  /* display: grid; */
  /* justify-content: left; */
  /* margin-left: 50px; */
}
.home-intro-img{
  width: 100%;
  height: auto;
  /* display: grid; */
}

.home-body{
  margin: 100px 120px 0;
}

  .home-body-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "who why"
    ;
  }

  .home-body-who{
    grid-area: who;
    text-align: left;
    padding-right: 30px;
  }  
  
  .home-body-why{
    grid-area: why;
    text-align: left;
    margin-left: 30px;
  }  
  
  .home-body-texwho{
    font-size: 17px;
  }  
  .home-body-texwhy{
    font-size: 17px;
  }

  @media only screen and (max-width: 860px){
    .home-intro{
      margin: 0 20px;
  }

  .home-intro-cadre{
    margin: 10px 5px 40px 5px;
  
  }
    .home-in-grid{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr ;
      grid-gap: 10px 20px;
    }
    
    .home-intro-img{
      width: 100%;
      height: auto;
    }
  
    .home-intro-btn{
      display: block;
    }
      /* margin:top,right,bottom,left */
    .home-intro-mentor{
      margin: 50px 20px 0px 20px;
      }
      
      .home-intro-mentee{
        margin: 30px 20px 0px 20px;
      }
      
      .home-intro-join{
        margin: 30px 20px 0px 20px;
      }

      .home-body{
        margin: 100px 20px 0;
      }
  
      .home-body-info{
        margin: 100px 20px 0;
        display: block;
      }

      .home-body-who{
        padding-right: 0px;
        padding-bottom: 20px;
      }  
      
      .home-body-why{
        margin-left: 0px;
      }  
      
      .home-body-texwho{
        font-size: 17px;
      }  
      .home-body-texwhy{
        font-size: 17px;
      }
    }  
    
  
    @media only screen and (min-width: 1500px){
    .home-intro{
      margin: 0 300px;
    } 

    .home-intro-mentor{
      margin: 50px 0px 0px 0px;
      }
      
      .home-intro-mentee{
        margin: 50px 0px 0px 0px;
      }
      
      .home-intro-join{
        margin: 50px 0px 0px 0px;
      }

      .home-body{
        margin: 100px 300px 0;
      }
  }


  
