.people-page {
    text-align: center;
}

.people-intro {
    width: 70vw;
    margin: 50px auto;
}

.people-hero-img {
    width: 100%;
    height: auto;
}

.people-hero-text {
    margin-top: 0;
    text-align: right;
}

.people-intro-line {
    margin-top: 50px;
    border-color: #00dbf4;
}

.people-intro-text {
    margin-top: 0;
}

.people-body {
    width: 70vw;
    margin: 50px auto;
}

.people-body-title {
    text-align: left;
    padding: 15px 10px;
}

.people-body-mentor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-bottom: 50px;
}

.people-body-card {
    padding: 10px 0;
    text-align: left;
}

.people-body-card-img {
    max-height: 150px;
}

.people-body-card-img img {
    height: 100%;
    width: auto;
}

.people-body-card-name {
    text-decoration: none;
    font-size: 21px;
}

@media only screen and (max-width: 1060px) {
    .people-body-mentor-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 720px) {
    .people-body-mentor-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}